<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
      version="3.1">
    
    <display-name>IQS</display-name>
    <servlet>
        <servlet-name>GetImages</servlet-name>
        <servlet-class>uk.ac.hw.macs.bisel.phis.iqs.GetImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetROI</servlet-name>
        <servlet-class>uk.ac.hw.macs.bisel.phis.iqs.GetROI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetROIs</servlet-name>
        <servlet-class>uk.ac.hw.macs.bisel.phis.iqs.GetROIs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChannel</servlet-name>
        <servlet-class>uk.ac.hw.macs.bisel.phis.iqs.GetChannel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChannels</servlet-name>
        <servlet-class>uk.ac.hw.macs.bisel.phis.iqs.GetChannels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoSuggest</servlet-name>
        <servlet-class>uk.ac.hw.macs.bisel.phis.iqs.AutoSuggest</servlet-class>
    </servlet>
               
    <servlet-mapping>
        <servlet-name>GetImages</servlet-name>
        <url-pattern>/GetImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImages</servlet-name>
        <url-pattern>/getimages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImages</servlet-name>
        <url-pattern>/getImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetROI</servlet-name>
        <url-pattern>/GetROI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetROI</servlet-name>
        <url-pattern>/getroi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetROI</servlet-name>
        <url-pattern>/getRoi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetROIs</servlet-name>
        <url-pattern>/GetROIs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetROIs</servlet-name>
        <url-pattern>/getrois</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetROIs</servlet-name>
        <url-pattern>/getRois</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChannel</servlet-name>
        <url-pattern>/GetChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChannel</servlet-name>
        <url-pattern>/getchannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChannel</servlet-name>
        <url-pattern>/getChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChannels</servlet-name>
        <url-pattern>/GetChannels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChannels</servlet-name>
        <url-pattern>/getchannels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChannels</servlet-name>
        <url-pattern>/getChannels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoSuggest</servlet-name>
        <url-pattern>/getAutosuggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoSuggest</servlet-name>
        <url-pattern>/GetAutoSuggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoSuggest</servlet-name>
        <url-pattern>/getautosuggest</url-pattern>
    </servlet-mapping>    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
