tr.deprecated {
	background-color: green;
}

.clear{clear:both;}

p.code {
  font-family: "Courier New" Courier  monospace;
  background-color: gainsboro;
  width: 100%;
  padding: 1em;
}

.footer {
    background-color: #2C3E50;
    color: #bac1c8;
    font-size: 15px;
    padding: 0;
}

.center{
    width : 100%;
    position: relative;
}

.center p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

.center img{
    display: block;
    margin-left: auto;
    margin-right: auto
}